.container {
  height: 85dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 1%;
    min-width: 575px;
  }

  .greyFont {
    font-weight: 500;
    font-size: 18px;
    color: #717171;
  }

  main {
    margin-top: 3%;
    background-color: #ffffff;
    width: 60%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 60px 30px rgba(0, 0, 0, 0.03);

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 2%;
      input {
        margin-bottom: 3%;
      }
      p {
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 1%;
      }
      button {
        margin-top: 2%;
        border: 1px solid #000000;
        width: 20%;
        padding: 1%;
        background-color: #000000;
        color: #ffffff;
        font-weight: 500;
        font-size: 16px;
        border-radius: 5px;
        box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
          border: 1px solid rgba(0, 0, 0, 0.8);
          background-color: rgba(0, 0, 0, 0.8);
        }
      }
    }
  }
}

input {
  border: none;
  border-bottom: 1.5px solid #8d8d8d;
  &:focus {
    border-bottom: 1.5px solid #000000;
  }
}

.link {
  display: flex;
  text-decoration: none;
  width: 90%;
  align-items: center;
  justify-content: center;
  &:focus,
  &:hover,
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
  }
}
